body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, 
li {
  list-style: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.menu-item {
    color:  #2e2f42;
}

.menu-item:hover, .menu-item:focus {
    color: #404bbf;
}

.button:hover, .button:focus {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.link:hover, .link:focus {
    color: #4D5AE5;
}

.contact {
    font-style: normal;
}

.contact:hover, .contact:focus {
    color: #404BBF;
}

.header1, title {
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
}

.header2 {
    font-size: 36px;
    font-weight: 700;
}

.header3 {
    font-size: 20px;
    font-weight: 500;
}

.small-text, link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

.button, .medium-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.button {
    letter-spacing: 0.04em;
}
